:root {
  --border-width: 0.5rem;
  --transition-duration: 0.5s;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

#stats {
  position: fixed;
  top: 0;
  left: 0;
}

#overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(27, 27, 27);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all var(--transition-duration) ease-in;
}

#start-btn {
  position: absolute;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s ease-in;
  z-index: 1;
}

.title {
  color: #fff;
  font-size: 3rem;
  transition: var(--transition-duration) ease-in;
}

.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  transition: all var(--transition-duration);
}

.loader-text {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

.loader {
  position: absolute;
  inset: 0;
}

.loader div {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: var(--border-width) solid;
  border-color: transparent #ccc;
  transition: opacity var(--transition-duration) ease-in;
}

.loader div:first-child {
  height: 100%;
  width: 100%;
  animation: loader-1 3s linear infinite;
}

.loader div:nth-child(2) {
  width: calc(100% - var(--border-width));
  height: calc(100% - var(--border-width));
  animation: loader-2 3s linear infinite;
}

.loader div:last-child {
  width: calc(100% - 2 * var(--border-width));
  height: calc(100% - 2 * var(--border-width));
  animation: loader-3 3s linear infinite;
}

@keyframes anim-blink {
  to {
    opacity: 0.25;
  }
}

@keyframes loader-1 {
  from {
    transform: translate(-50%, -50%) rotate(25deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(385deg);
  }
}

@keyframes loader-2 {
  from {
    transform: translate(-50%, -50%) rotate(-25deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-385deg);
  }
}

@keyframes loader-3 {
  from {
    transform: translate(-50%, -50%) rotate(75deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(435deg);
  }
}

.crosshair {
  inset: 0;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.25));
  position: absolute;
  transition: all var(--transition-duration);
}

.crosshair div {
  position: absolute;
  background-color: #ccc;
}

.crosshair div:first-child,
.crosshair div:nth-child(2) {
  left: 50%;
  width: 0.5rem;
  height: 2rem;
}

.crosshair div:nth-child(3),
.crosshair div:last-child {
  top: 50%;
  width: 2rem;
  height: 0.5rem;
}

.crosshair div:first-child {
  top: 0;
  transform: translate(-50%, -0.65rem);
}

.crosshair div:nth-child(2) {
  bottom: 0;
  transform: translate(-50%, 0.65rem);
}

.crosshair div:nth-child(3) {
  left: 0;
  transform: translate(-0.65rem, -50%);
}

.crosshair div:last-child {
  right: 0;
  transform: translate(0.65rem, -50%);
}

#overlay.start .loader-text {
  transform: scale(0.5);
  opacity: 0;
}

#overlay:not(.start) #start-btn {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

#overlay.start #start-btn {
  animation: anim-blink 1s infinite alternate;
}

#overlay:not(.hidden) .crosshair {
  transform: scale(1.25);
  opacity: 0;
}

#overlay.hidden {
  pointer-events: none;
  background-color: transparent;
}

#overlay.hidden #start-btn {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

#overlay.hidden .loader-wrapper {
  width: 5rem;
  height: 5rem;
}

#overlay.hidden .loader {
  border-radius: 50%;
  border: calc(var(--border-width)) solid #ccc;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

#overlay.hidden .loader div {
  opacity: 0;
}

#overlay.hidden .title {
  transform: translateY(-5rem);
  opacity: 0;
}

@keyframes move-left {
  50% {
    left: -10%;
  }
}

@keyframes move-top {
  50% {
    top: -10%;
  }
}

@keyframes move-right {
  50% {
    right: -10%;
  }
}

@keyframes move-bottom {
  50% {
    bottom: -10%;
  }
}

.crosshair.shot div:first-child {
  animation: move-top 0.3s;
}

.crosshair.shot div:nth-child(2) {
  animation: move-bottom 0.3s;
}

.crosshair.shot div:nth-child(3) {
  animation: move-left 0.3s;
}

.crosshair.shot div:last-child {
  animation: move-right 0.3s;
}

.instructions {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: rgba(27, 27, 27, 0.75);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1.25rem 2.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
}

.instructions__heading {
  color: #fff;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

.instructions__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
}

.instructions__item {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
}

.instructions__item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  width: 100%;
  height: 2px;
  background-color: rgb(131, 131, 131);
}

.instructions__controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-grow: 1;
}

.instructions__controls::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: rgb(131, 131, 131);
  right: -1.5rem;
}

.instructions__movement {
  display: grid;
  grid-template-areas:
    ".    up   ."
    "left down right";
  gap: 0.5rem;
}

.instructions__movement .instructions__button:first-child {
  grid-area: up;
}

.instructions__movement .instructions__button:nth-child(2) {
  grid-area: left;
}

.instructions__movement .instructions__button:nth-child(3) {
  grid-area: down;
}

.instructions__movement .instructions__button:nth-child(4) {
  grid-area: right;
}

.instructions__button {
  background-color: rgb(240, 237, 237);
  border-radius: 0.25rem;
  min-width: 4rem;
  height: 4rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.instructions__icon {
  width: 5rem;
  height: 5rem;
  filter: invert(1) drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.instructions__text {
  font-size: 1.75rem;
  color: #f1f1f1;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  width: 17.5rem;
  min-width: 17.5rem;
}

.instructions__close-button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.25));
}

.instructions__close-button::before,
.instructions__close-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: 50%;
}

.instructions__close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.instructions__close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.instructions.visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
